<md-dialog aria-label="Fornecedor"  ng-cloak  style="max-width: 60%; min-width: 60%">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Fornecedor:  {{ Supplier.supplier }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <p> Fornecedor: {{ Supplier.supplier }} </p>
        <span flex> </span>
        <p> Comissão: R$ {{ Supplier.total }} </p>
        
            <md-subheader class="md-no-sticky">Produtos vendidos </md-subheader>
            <table id="table" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>Largura</th>
                    <th>Altura</th>
                    </tr>
                </thead>
                <tbody  ng-repeat="prod in Supplier.products">
                    <tr>
                        <td data-title="ID">{{ prod.name}}</td>
                        <td data-title="Name">{{ prod.quantity}}</td>
                        <td data-title="Largura">{{ prod.weight }}</td>
                        <td data-title="Altura"> {{ prod.height }}</td>
                    </tr>
                </tbody>
            </table>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="closeDialog()" style="margin-right:20px;"> Fechar </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>